* {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif
}

body{
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3{
  margin-bottom: 2rem;
  line-height: 1.5;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}



