* {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif
}

body{
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--gris2)
}

h1, h2, h3{
  margin-bottom: 2rem;
  line-height: 1.5;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

.listado-productos{
  background-color: #f3f3f3;
}

.contenedor{
  max-width: 120rem;
  width: 95%;
  padding: 5rem 0;
  margin: 0 auto
}

.bg-white{
  background-color: #fff;
}



