.relative{
    position: relative;
}

.inputText{
    border: 1px solid var(--gris3);
    padding: 1rem;
    min-width: 30rem;
}

.submit{
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    cursor: pointer;
}
