.titulo_formulario{
    text-align: center;
    margin-top: 5rem;
}

.formulario{
    max-width: 60rem;
    width: 95%;
    margin: 5rem auto 0 auto;
}

.campo{
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.campo_label{
    flex: 0 0 15rem;
    font-size: 1.8rem;
}

.campo_input{
    flex: 1;
    padding: 1rem;
}

.errores{
    background-color: red;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}
